@font-face {
    font-family: 'Jost';
    src: url('fonts/Jost-Bold.ttf');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.ttf');
}

body {
    background-color: #DED8CC;
    font-family: Arial, sans-serif;
}

.fondo {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.info {
    width: flex;
    margin: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.containerFotos {
    
    width: fit-content;
    margin: flex;
    background-color: #DED8CC;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
}

.data {
    width: flex;
    height: 100%;
    margin: flex;
    background-color: #DED8CC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerLabels{
    margin-right: 50px;
    width: flex;
    margin: flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7px;
}


.containerGrafica{
    width: flex;
    margin: flex;
    padding: 50px;
    display: flex;
}


h1 {
    font-family: 'Bebas Neue';
    color: #49245E;
    text-align: center;
}

h6 {
    font-family: 'Jost';
    color: #89734B;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 10px;
}

canvas {
    margin-right: 60px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
    text-align: center;
}


.candidato {
    align-self: center;
    display: block;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;  
    width: 21%; /* reduce the size to 60% to make it 40% smaller */
    border-radius: 20px;
}