@font-face {  /* codigo de las fuentes */
    font-family: 'Jost';
    src: url('fonts/Jost-Bold.ttf');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.ttf');
}

body { 
    background-color: #DED8CC;
    font-family: Arial, sans-serif;
}

.fondo { 
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.info {  /* codigo de la informacion de los candidatos */
    width: flex;
    margin: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.containerFotos {  
    
    width: fit-content;
    margin: flex;
    background-color: #DED8CC;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
}

.data {  /* codigo de los datos de los candidatos */
    width: flex;
    height: 100%;
    margin: flex;
    background-color: #DED8CC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content:start;
}

.containerLabels{  /* codigo de los labels de los candidatos */
    margin-right: 50px;
    width: flex;
    margin: flex;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}


.containerGrafica{  /* codigo de la grafica */
    width: flex;
    margin: flex;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

#controls {  /* codigo del contenedor para botones */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#miBoton:disabled{  /* codigo del boton */
    width: 120px;
    height: 30px;
    color: #89734B;
    background-color: white;
    font-family: 'Jost';
    font-size: 14px;

}

#dataSelect{
    font-family: 'Jost';
    color: gray;
    text-align: center;
}

h1 { /* codigo del titulo */
    font-family: 'Bebas Neue';
    color: #49245E;
    text-align: center;
}

h6 { /* codigo del subtitulo */
    font-family: 'Jost';
    color: #89734B;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 10px;
}

canvas { /* codigo de la grafica */
    margin-right: 60px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
    text-align: center;
}


.candidato { /* codigo de los candidatos */
    align-self: center;
    display: block;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 8px;
    margin-bottom: 8px;  
    width: 21%; 
    border-radius: 20px;
}