@font-face {
    font-family: 'Jost';
    src: url('fonts/Jost-Bold.ttf');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.ttf');
}

body {
    background-color: #DED8CC;
    font-family: Arial, sans-serif;
}

.fondo {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.containerFotos {
    width: flex;
    margin: flex;
    background-color: #DED8CC;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerGrafica{
    width: flex;
    margin: flex;
    padding: 20px;
    display: flex;
}


h1 {
    font-family: 'Bebas Neue';
    color: #49245E;
    text-align: center;
}

h2 {
    font-family: 'Jost';
    color: #89734B;
    text-align: center;
}

h3 {
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
    text-align: center;
}

.candidato {
    align-self: left;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 5%; /* reduce the size to 60% to make it 40% smaller */
    border-radius: 20px;
}