{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link type = "text/css" href='{% static "css/index.css" %}' rel='stylesheet'/> <!- se importa el css ->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Candidatos  {% endblock title %}  </title>
</head>
<body>
    <h1>Prueba</h1>
    <img class="bolivar" src="{% static "imagenes/bolivar.jpg" %}" alt="bolivar">
    <div class="container">
        {% block content %} {% endblock content %}
    </div>
    <script type="text/javascript" src='{% static "js/index.js" %}'></script> 
    <!- solo por probar, se importa el css y en el archivo index.js le digo que imprima en consola web que se ha cargado ->
</body>
</html>