{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link type = "text/css" href='{% static "css/index.css" %}' rel='stylesheet'/> <!- se importa el css ->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Candidatos  {% endblock title %}  </title>
</head>
<body>
    <h1>twiteros.com</h1>
    <h2>Galán Pirobo</h2>
    
    <div class="fondo">
        <div class="info">
            <div class="containerFotos">
                {% block content %}
                <img class="candidato" src="{% static "imagenes/bolivar.jpg" %}" alt="bolivar">
                <img class="candidato" src="{% static "imagenes/galan.webp" %}" alt="galan">
                <img class="candidato" src="{% static "imagenes/molano.webp" %}" alt="molano">
                <img class="candidato" src="{% static "imagenes/robledo.webp" %}" alt="robledo">
                <img class="candidato" src="{% static "imagenes/vargas.webp" %}" alt="vargas">
                <img class="candidato" src="{% static "imagenes/oviedo.webp" %}" alt="oviedo">
                <img class="candidato" src="{% static "imagenes/lara.webp" %}" alt="lara">
                {% endblock content %}
            </div>
            <div class="data">
                hola
            </div>
        </div>
        <div class="containerGrafica">
            <h3>favor poner la grafica en este contenedor</h3>
        </div>
    </div>
    <script type="text/javascript" src='{% static "js/index.js" %}'></script> 
    <!- solo por probar, se importa el css y en el archivo index.js le digo que imprima en consola web que se ha cargado ->
</body>
</html>